<footer class="footer-bg w-font text-white" style="height:200px;">  
    <h2 class="text-center">App created by Andrew Bao</h2> 
    <h2 class="font-small text-center text-white"><%=link_to("Back to the top","#", class:'text-white')%></h2> 
</footer>