<h1><%= current_user.name%>'s Collection</h1>

<h2>Comments:</h2>
<ul>
  <% current_user.posts.each do |p| %>
    <li><%= link_to(p.body, post_path(p)) %>  
    <%= link_to("Edit", edit_post_path(p)) %>
    <%= link_to("Delete", "/posts/#{p.id}", method: "delete")%> 
    </li>
  <% end %>
</ul>

